{$SITE_ADDRESS::80} {
	handle /api/* {
		reverse_proxy {$API_UPSTREAM::api:8000}
	}

	handle /admin* {
		reverse_proxy {$API_UPSTREAM::api:8000}
	}

	handle /static/* {
		reverse_proxy {$API_UPSTREAM::api:8000}
	}

	handle {
		root * /srv/dist
		encode gzip
		try_files {path} /index.html
		file_server
	}
}
